## MariaDB
MARIADB_ROOT_PASSWORD=root_password
MARIADB_DATABASE=app_db
MARIADB_USER=app_user
MARIADB_PASSWORD=app_password
MARIADB_PORT=3306

## Valkey
VALKEY_PORT=6379

## API (FastAPI)
API_PORT=8000
